.cell{
    width: 20px;
    height: 20px;
    padding: 0px;
}
.cell-dead{
    background-color: black;
}
.cell-alive{
    background-color: white;
}
body{
    background-color: bisque;
}
table {
    border-spacing: 0px;
    table-layout: fixed;
    width: fit-content;
}
.pointer {
    cursor: pointer;
}
.debug{
    border: solid 1px red;
}