.cell{
    width: 30px;
    height: 30px;
    padding: 0px;
}
.cell-dead{
    background-color: black;
}
.cell-alive{
    background-color: white;
}
body{
    background-color: bisque;
}
table {
    border-spacing: 0px;
}
.pointer {
    cursor: pointer;
}